.idea/
/target/
org-ua-oblik/oblik-modules/oblik-rest/src/main/webapp/node_modules/

org-ua-oblik/oblik-modules/oblik-frontend/node
org-ua-oblik/oblik-modules/oblik-frontend/node_modules
org-ua-oblik/oblik-modules/oblik-frontend/ui-src

*.iml
*.log