<div class="container">
    <header class="subhead" id="overview">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    Total: <strong>{{total}}</strong> $
                </div>
            </div>
        </div>
    </header>

    <div id="budget-container" class="row">
        <div class="col-xs-6 col-sm-4" id="budget-right-container">
            <oblik-currencies></oblik-currencies>
            <oblik-accounts kind="ASSETS"></oblik-accounts>
            <oblik-accounts kind="EXPENSE"></oblik-accounts>
            <oblik-accounts kind="INCOME"></oblik-accounts>
        </div>

        <div class="col-xs-6 col-sm-8" id="budget-left-container">
            <div class="panel panel-primary">
                <oblik-transactions></oblik-transactions>
            </div>
        </div>
    </div>

</div>

