<div *ngIf="!editing">
    <div *ngIf="currency != null">
        <span class="hidden">{{currency.id}}</span>
        <a id="currency_{{currency.id}}" class="info" (click)="toggleEditing()">
            {{currency.total}}
            {{currency.symbol}}
        </a>
        <span *ngIf="!currency.defaultRate">
        ({{currency.rate}} {{currency.defaultSymbol}}/{{currency.symbol}})
        </span>
        <span class="pull-right">{{currency.total * currency.rate}} {{currency.defaultSymbol}}</span>
    </div>
    <div *ngIf="currency == null">
        <a id="add-currency-btn" class="btn btn-link"
           (click)="toggleEditing()">
            <i class="fa fa-plus-circle fa-2x"></i>
        </a>
    </div>
</div>

<div *ngIf="editing">
    <form [formGroup]="currencyModel" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="sr-only">Symbol:</label>
            <input type="text"
                   formControlName="symbol"
                   placeholder="Symbol" cssClass="form-control"/>
            <div *ngIf="formErrors.symbol" class="alert alert-danger">
                {{ formErrors.symbol }}
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only">Rate:</label>
            <p *ngIf="currency != null && currency.defaultRate" class="form-control-static">1</p>
            <input type="text"
                   *ngIf="currency == null || !currency.defaultRate"
                   formControlName="rate"
                   placeholder="Rate" cssClass="form-control"/>
            <div *ngIf="formErrors.rate" class="alert alert-danger">
                {{ formErrors.rate }}
            </div>
        </div>
        <a class="btn btn-link" *ngIf="currency != null && currency.removable"
           (click)="remove()">
            <i class="fa fa-trash-o fa-2x"></i>
        </a>
        <a class="btn btn-link" *ngIf="currency != null && !currency.removable">
            <span class="fa-stack fa-lg">
                <i class="fa fa-trash fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
        </a>
        <a class="btn btn-link"
           (click)="toggleEditing()">
            <i class="fa fa-close fa-2x"></i>
        </a>
        <a href="#" class="btn btn-link btn-primary pull-right"
           (click)="onSubmit()">
            <i class="fa fa-check-circle fa-2x"></i></a>
    </form>
</div>
