<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     threshold="debug" debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] %-5p %c - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="oblik.log" />
        <param name="Threshold" value="DEBUG" />
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p-%d{ABSOLUTE}-[%t]-%C.%M:%L(%c{1}) - %m%n" />
        </layout>
    </appender>
    
    <logger name="org.ua.oblik" additivity="true">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.security">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="DEBUG"/>
    </logger>
    
    <logger name="org.springframework.mail">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="WARN" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
