header {
    background-image: url("../img/header-bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    height: 121px;
    margin-bottom: 22px;
}
.header-top-container {
    height: 14px;
    margin: 14px 0 14px 0;
    font-size: 14px;
}
.header-bot-container {
    height: 42px;
    line-height: 42px;
    margin: 14px 0 14px 0;
    font-size: 22px;
}
.header-bot-container span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
footer h3, footer h4 {
    font-weight: normal;
}
footer .caption {
    float: none;
}
footer .logo {
    margin-bottom: 8px;
}
.footer-content-bg {
    padding-top: 25px;
    padding-bottom: 18px;
    background-color: #efefef;
    background-image: url(../img/footer-bg.png);
    background-repeat: repeat-x;
    background-position: left top;	
}

.content-container-white {
    background-color: #FDFDFD;
    border: 1px solid #D6D6D6;
    border-radius: 3px 3px 3px 3px;
}
.content-under-container-white {
    background-color: #FDFDFD;
    border-color: #D6D6D6;
    border-radius: 0 0 3px 3px;
    border-style: none solid solid;
    border-width: 1px;
    height: 2px;
    margin-left: 3px;
    margin-right: 3px;
}
.m-top-10 {
    margin-top: 10px !important;
}
.m-bot-25 {
    margin-bottom: 25px !important;
}
.m-all-5 {
    margin: 5px;
}

.table th.align-right,
.table td.align-right {
    text-align: right;
}
.table th.align-left,
.table td.align-left {
    text-align: left;
}
.table th.align-center,
.table td.align-center {
    text-align: center;
}

.text-assets {
    color: #4AC2F3 !important;
}
.text-expense {
    color: #cc3300 !important;
}
.text-income {
    color: #6dc3b9 !important;
}

.btn.transfer {
    background-color:#48867b;
    color:#ffffff;
    border: 1px solid #668c87;
    background: -moz-linear-gradient(top, #4AC2F3, #569e93) !important;
    background: -webkit-linear-gradient(top, #4AC2F3, #569e93) !important;
    background: -o-linear-gradient(top, #4AC2F3, #569e93) !important; 
    background: -ms-linear-gradient(top, #4AC2F3, #569e93) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.btn.transfer:hover {
    background-color:#65b6ad;
    border: 1px solid #668c87;
    background: -moz-linear-gradient(top, #74cdc3, #5ca89c) !important;
    background: -webkit-linear-gradient(top, #74cdc3, #5ca89c) !important;
    background: -o-linear-gradient(top, #74cdc3, #5ca89c) !important; 
    background: -ms-linear-gradient(top, #74cdc3, #5ca89c) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn.income {
    background-color:#48867b;
    color:#ffffff;
    border: 1px solid #668c87;
    background: -moz-linear-gradient(top, #6dc3b9, #569e93) !important;
    background: -webkit-linear-gradient(top, #6dc3b9, #569e93) !important;
    background: -o-linear-gradient(top, #6dc3b9, #569e93) !important; 
    background: -ms-linear-gradient(top, #6dc3b9, #569e93) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.btn.income:hover {
    background-color:#65b6ad;
    border: 1px solid #668c87;
    background: -moz-linear-gradient(top, #74cdc3, #5ca89c) !important;
    background: -webkit-linear-gradient(top, #74cdc3, #5ca89c) !important;
    background: -o-linear-gradient(top, #74cdc3, #5ca89c) !important; 
    background: -ms-linear-gradient(top, #74cdc3, #5ca89c) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.btn.expense {
    background-color:#48867b;
    color:#ffffff;
    border: 1px solid #C77777;
    background: -moz-linear-gradient(top, #cc3300, #FFE8E7) !important;
    background: -webkit-linear-gradient(top, #cc3300, #FFE8E7) !important;
    background: -o-linear-gradient(top, #cc3300, #FFE8E7) !important; 
    background: -ms-linear-gradient(top, #cc3300, #FFE8E7) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.btn.expense:hover {
    background-color:#65b6ad;
    border: 1px solid #C77777;
    background: -moz-linear-gradient(top, #FFE8E7, #cc3300) !important;
    background: -webkit-linear-gradient(top, #FFE8E7, #cc3300) !important;
    background: -o-linear-gradient(top, #FFE8E7, #cc3300) !important; 
    background: -ms-linear-gradient(top, #FFE8E7, #cc3300) !important; 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.btn.currency {
    background-color:#e5bd2c;
    color: #333733;
    border: 1px solid #BE9D25;
    background: -moz-linear-gradient(top , #EFD740, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(top , #EFD740, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -o-linear-gradient(top , #EFD740, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -ms-linear-gradient(top , #EFD740, #E5BD2C) repeat scroll 0 0 transparent !important;
    
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    text-shadow: 0 1px 0 #FFEA8A;
}
.btn.currency:hover {
    background-color:#f3e043;
    border: 1px solid #BE9D25;
    background: -moz-linear-gradient(top , #F5E547, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(top , #F5E547, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -o-linear-gradient(top , #F5E547, #E5BD2C) repeat scroll 0 0 transparent !important;
    background: -ms-linear-gradient(top , #F5E547, #E5BD2C) repeat scroll 0 0 transparent !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}