
/*header {
    margin-bottom: 22px;
    padding-top: 40px;
}

footer {
    position:absolute;
    bottom:0;
    height: 60px;
    width: 100%;
    background-color: #EFEFEF;
    background-image: url("../img/footer-bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    padding-bottom: 18px;
    padding-top: 25px;
}*/