<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath:/org/ua/oblik/context/beans.properties" />
    
    <bean class="org.ua.oblik.controllers.validators.AccountValidator"/>
    <bean class="org.ua.oblik.controllers.validators.CurrencyValidator"/>
    <bean class="org.ua.oblik.controllers.validators.FormActionValidator"/>

    <bean class="org.ua.oblik.controllers.AccountFacade"/>
    <bean class="org.ua.oblik.controllers.CurrencyFacade"/>
    <bean class="org.ua.oblik.controllers.TransactionFacade"/>
    <bean class="org.ua.oblik.controllers.TotalFacade"/>

    <bean id="shortDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="${date.short.format}"/>
    </bean>
    
    <bean id="longDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="${date.long.format}"/>
    </bean>
    
    <bean id="monthDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="MMyyyy"/>
    </bean>
    
    <bean id="shortDateEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
        <constructor-arg name="dateFormat" ref="shortDateFormat"/>
        <constructor-arg name="allowEmpty" value="true"/>
    </bean>
    
    <bean id="longDateEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
        <constructor-arg name="dateFormat" ref="longDateFormat"/>
        <constructor-arg name="allowEmpty" value="true"/>
        <constructor-arg name="exactDateLength" value="10"/>
    </bean>
    
    <bean id="monthDateEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
        <constructor-arg name="dateFormat" ref="monthDateFormat"/>
        <constructor-arg name="allowEmpty" value="false"/>
    </bean>
    
    <bean id="stringTrimmerEditor" class="org.springframework.beans.propertyeditors.StringTrimmerEditor">
        <constructor-arg name="emptyAsNull" value="true"/>
    </bean>
    
    <bean id="decimalNumberFormatter" class="org.springframework.format.number.NumberFormatter">
        <property name="pattern" value="${decimal.format}"/>
    </bean>
    
    <bean id="decimalFormat" class="java.text.DecimalFormat">
        <constructor-arg value="${decimal.format}"/>
    </bean>
    
    <bean id="longDateFormatter" class="org.springframework.format.datetime.DateFormatter">
        <property name="pattern" value="${date.long.format}"/>
    </bean>
    
    <bean id="bigDecimalEditor" class="org.springframework.beans.propertyeditors.CustomNumberEditor">
        <constructor-arg name="numberClass" value="java.math.BigDecimal"/>
        <constructor-arg name="numberFormat" ref="decimalFormat"/>
        <constructor-arg name="allowEmpty" value="true"/>
    </bean>
    
    <bean id="transactionTypePropertyEditor" class="org.ua.oblik.controllers.utils.TransactionTypePropertyEditor"/>
    <bean id="loginActionPropertyEditor" class="org.ua.oblik.controllers.utils.LoginActionPropertyEditor"/>
</beans>
